body {
 font-family: 'Arial', sans-serif;
 background-color: #f3f3f3;
}

#wrapper{
  max-width: 960px;
  margin: 0 auto;
  background-color: #fff;
  padding: 32px;
}

header{
  background-color: #59d5d8;
  height: 150px;
  padding: 4px;
}

header h1{
text-transform: uppercase;
text-align: center;
color: #fff;
line-height:50px;
}

header h2{
font-variant: small-caps;
text-align: center;
color: #fff;
}



#center{
width:650px;
margin:2rem auto;
height:220px;
text-align: center;

}

#p1{
width:650px;
margin:2rem auto;
text-align: center;
height:250px;

}

#p2{
width:650px;
margin:2rem auto;
text-align: center;
height:190px;

}

#p3{
width:650px;
margin:2rem auto;
text-align: center;
height:110px;

}


#p4{
width:650px;
margin:2rem auto;
text-align: center;
height:450px;

}

#p5{
width:650px;
margin:2rem auto;
text-align: center;
height:40px;

}

#p6{
width:650px;
margin:2rem auto;
text-align: center;
height:450px;

}

#p7{
width:650px;
margin:2rem auto;
text-align: center;
height:60px;

}

#p8{
width:650px;
margin:2rem auto;
text-align: center;
height:450px;

}

#p9{
width:650px;
margin:2rem auto;
text-align: center;
height:30px;

}

#p10{
width:650px;
margin:2rem auto;
text-align: center;
height:450px;

}

#p11{
width:650px;
margin:2rem auto;
text-align: center;
height:100px;

}

#p12{
width:650px;
margin:2rem auto;
text-align: center;
height:200px;

}

#p13{
width:650px;
margin:2rem auto;
text-align: center;
height:200px;

}

#p14{
width:650px;
margin:2rem auto;
text-align: center;
height:30px;

}


#p15{
width:650px;
margin:2rem auto;
text-align: center;
height:30px;

}



#p16{
width:650px;
margin:2rem auto;
text-align: center;
height:30px;

}

#p17{
width:650px;
margin:2rem auto;
text-align: center;
height:92px;

}

#p18{
width:650px;
margin:2rem auto;
text-align: center;
height:50px;

}

#p19{
width:650px;
margin:2rem auto;
text-align: center;
height:30px;

}

#p20{
width:650px;
margin:2rem auto;
text-align: center;
height:30px;

}
#p21{
width:650px;
margin:2rem auto;
text-align: center;
height:30px;

}
#p22{
width:650px;
margin:2rem auto;
text-align: center;
height:70px;

}
#p23{
width:650px;
margin:2rem auto;
text-align: center;
height:80px;

}

#p24{
width:650px;
margin:2rem auto;
text-align: center;
height:50px;

}

#p25{
width:650px;
margin:2rem auto;
text-align: center;
height:250px;

}

#p26{
width:650px;
margin:2rem auto;
text-align: center;
height:60px;

}

#p27{
width:650px;
margin:2rem auto;
text-align: center;
height:30px;

}

#p28{
width:650px;
margin:2rem auto;
text-align: center;
height:30px;

}

#p29{
width:650px;
margin:2rem auto;
text-align: center;
height:30px;

}

#p30{
width:650px;
margin:2rem auto;
text-align: center;
height:80px;

}














.main_menu {
padding:5px 0 5px 0;
text-align: center;
line-height: 32px;
background-color: #818181;
}


ul.main_menu{
margin-top: 15px;
}

.main_menu li{
display: inline;
padding: 0 10px 0 0px;
font-size: 20px;
}

.main_menu a {
text-decoration: none;
color: #fff;
padding: 8px;
font-variant: small-caps;
}

.main_menu a:hover{
color: #59d5d8;
}










